<template>
  <div class="container-fluid">
    <div class="row">
      <!-- Main panel -->
      <div class="col-md-6">
        <!-- Intro -->
        <h1 class="title">
          climate-todo
        </h1>
        <h2 class="subtitle">
          What can we do about the climate emergency
        </h2>
        <!-- List -->
        <h3>Personal</h3>
        <ol>
          <li v-for="(action, i) in personal" :key="'personal-' + i" >
            <a @click="onActionClick(action)">{{action.title}}</a>
          </li>
        </ol>
      </div>
      <!-- Details panel -->
      <div class="col-md-6 details-panel" v-for="(action, i) in actions" :key="'action-detail-' + i" :class="{'d-none': !selectedAction || selectedAction.title !== action.title}">
        <span class="close-button" @click="onCloseClick()">close X</span>
        <h3>{{action.title}}</h3>
        <h4>Why?</h4>
        <p>{{action.why}}</p>
        <h4>How?</h4>
        <p>{{action.how}}</p>
        <h4>Resources</h4>
        <ul>
          <li v-for="(resource, i) in action.resources" :key="'action-resource-' + i">
            <a :href="resource.link" target="_blank">{{resource.title}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</template>

<script>
// Import
import Logo from '~/components/Logo.vue'
import axios from 'axios';
//
import personalTreePlanting from '~/assets/json/personal/tree-planting.json';
import personalGreenTariff from '~/assets/json/personal/green-tariff.json';
import personalInstallSolar from '~/assets/json/personal/install-solar.json';
import personalApplyPressure from '~/assets/json/personal/apply-pressure.json';
import personalBuyLocal from '~/assets/json/personal/buy-local.json';
import personalElectricVehicle from '~/assets/json/personal/electric-vehicle.json';
import personalEncourageOthers from '~/assets/json/personal/encourage-others.json';
import personalInvestGreen from '~/assets/json/personal/invest-green.json';
import personalOffsetCarbon from '~/assets/json/personal/offset-carbon.json';
import personalReWind from '~/assets/json/personal/re-wild.json';
import personalReduceMeat from '~/assets/json/personal/reduce-meat.json';
import personalReducePlane from '~/assets/json/personal/reduce-plane.json';
import personalReducePlastic from '~/assets/json/personal/reduce-plastic.json';
import personalPublicTransport from '~/assets/json/personal/transport.json';
//
export default {
  components: {
    Logo
  },

  data() {
    return {
      personal:[
        personalTreePlanting, 
        personalGreenTariff, 
        personalInstallSolar,
        personalApplyPressure,
        personalBuyLocal,
        personalElectricVehicle,
        personalEncourageOthers,
        personalInvestGreen,
        personalOffsetCarbon,
        personalReWind,
        personalReduceMeat,
        personalReducePlane,
        personalReducePlastic,
        personalPublicTransport,
        ],
      actions:null,
      selectedAction: null
    };
  },

  created(){
    this.actions = [...this.personal];
  },

  methods: {
    onActionClick(action){
      this.selectedAction = action;
    },
    onCloseClick(){
      this.selectedAction = null;
    }
  }
}
</script>

<style>
  .details-panel{
    background: white;
  }

  .close-button{
    position:absolute;
    top: 20px;
    right: 20px;
    display: none;
  }

  @media (max-width:767.9px){
    .details-panel{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }

    .close-button{
      display: block;
    }
  }
  
</style>
